body {
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-image: url('http://surl.li/lzxzo');

}

.container  {
    background-color: grey;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
}

header h2 {
    color: #555;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    gap: 20px;
    padding-top: 20px;
}

.image img {
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

section {
    flex-grow: 1;
}

/* Стили для футера */
footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 0;
}